$left-distance: 10px;

body {
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2, p {
    margin: 0 0 10px 0;
}

button.google {
    background-color: rgb(211, 72, 54);
    color: #fff;
    border: 0;
    padding: 10px;
    font-size: inherit;
    cursor: pointer;
}

.header-sub {
    font-weight: lighter;
    font-family: "HelveticaNeue-UltraLight", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.component {
    padding: $left-distance;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, .2);
    margin-bottom: 20px;
}

.header {
    padding-top: 20px;
}

.authentication {
    width: 450px;
    margin: 100px auto;
}

.panels {
    display: flex;
    flex-direction: row;
}

.panel {
    padding-right: 10px;
    padding-left: $left-distance;
    overflow: hidden;
    &.left {
        width: 20%
    }
    &.main {
        width: 50%
    }
    &.side {
    }
}

.list {
    .item {
        font-weight: lighter;
        &.action {
            padding-top: 5px;
            padding-bottom: 5px;
            border-bottom: 1px solid rgba(0, 0, 0, .1);
        }
    }
    &.calendar-events {
        position: relative;
        height: 1100px;
        margin-top: -58%; // show hours from ~7 o'clock not from midnight
        .item {
            position: absolute;
            font-size: .5em;
            &.time {
                left: 0;
                right: 0;
                padding-left: 5px;
                line-height: 5em; // this is manually set to look good
                border-bottom: 1px solid rgba(0, 0, 0, .1);
                z-index: 1;
            }
            &.event {
                left: 30px;
                right: 0;
                background-color: rgba(0, 0, 0, .1);
            }
        }
    }
}

// State
.authentication {
    display: none
}

.no-auth {
    .authentication {
        display: block
    }
    .panels {
        display: none
    }
}
