$left-distance: 10px;
$link-background-color-hover: #ccf4e5;
$event-background-color: rgba(204, 244, 229, 0.64);
$event-background-color-hover: rgba(89, 229, 172, 0.71);

/* Mobile first queries */

body {
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 1em;
    margin: 0;
    padding: 0;
}

h1, h2, p {
    margin: 0 0 10px 0;
}

button {
    color: #fff;
    border: 0;
    padding: 5px 20px;
    font-size: inherit;
    cursor: pointer;
    background-color: rgb(98, 211, 154);

    &.google {
        background-color: rgb(211, 72, 54);
    }
}

.header-sub {
    font-weight: lighter;
    font-family: "HelveticaNeue-UltraLight", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.selected-date {
    float: right;
    font-family: "HelveticaNeue-UltraLight", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.component {
    padding: 0 $left-distance $left-distance;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, .2);
    margin-bottom: $left-distance;
}

.header {
    padding-top: 10px;
}

.preparing {
    box-shadow: none;
}

.authentication {
    width: 450px;
    margin: 100px auto;
}

.panels {
    overflow: hidden;
}

.panel {
    padding-right: 10px;
    padding-left: $left-distance;
    float: left;
    &.left {
        width: 20%
    }
    &.main {
        width: 75%
    }
    &.side {
        width: 20%;
        display: none;
    }
}

.list {
    .item {
        font-weight: lighter;
        &.action {
            padding-top: 5px;
            padding-bottom: 5px;
            border-bottom: 1px solid rgba(0, 0, 0, .1);
            cursor: pointer;
            &:hover {
                background-color: $link-background-color-hover;
            }
        }
    }
    &.calendar-events,
    &.calendar-time {
        float: left;
        position: relative;
        height: 1100px;
        width: 12.5%;
        margin-top: -58%; // show hours from ~7 o'clock not from midnight
        .item {
            position: absolute;
            font-size: .6em;
            font-weight: normal;
            &.time {
                left: 0;
                right: 0;
                padding-left: 5px;
                line-height: 5em; // this is manually set to look good
                border-bottom: 1px solid rgba(0, 0, 0, .1);
                z-index: 1;
            }
            &.event {
                color: rgba(0, 0, 0, 0.1);
                background-color: $event-background-color;
                box-shadow: 0px 2px 1px rgba(38, 136, 98, 0.56);
                z-index: 2;
                &:hover {
                    background-color: $event-background-color-hover;
                    color: #000;
                }
            }
        }
    }
    &.calendar-events {
        &.range-week {
        }
    }
}

// State
.authentication,
.preparing,
.panels,
.navigation {
    display: none;
}

.init {
    .preparing {
        display: block
    }
}

.ready {
    .navigation,
    .panels {
        display: block;
    }
}

.no-auth {
    .authentication {
        display: block
    }
    .panels {
        display: none
    }
}

// SPIN KIT

.spinner {
    margin: 100px auto;
    width: 50px;
    height: 30px;
    text-align: center;
    font-size: 10px;
}

.spinner > div {
    background-color: #333;
    height: 100%;
    width: 6px;
    display: inline-block;

    -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
    animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
    0%, 40%, 100% {
        -webkit-transform: scaleY(0.4)
    }
    20% {
        -webkit-transform: scaleY(1.0)
    }
}

@keyframes stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }
    20% {
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}

/* Larger than mobile */
@media (min-width: 400px) {

}

/* Larger than phablet */
@media (min-width: 550px) {

}

/* Larger than tablet */
@media (min-width: 750px) {

}

/* Larger than desktop */
@media (min-width: 1000px) {

}

/* Larger than Desktop HD */
@media (min-width: 1200px) {

}

