$left-distance: 10px;

body {
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    margin: 0;
    padding: 0;
}
h1, h2, p {
    margin: 0 0 10px 0;
}

button.google {
    background-color: rgb(211, 72, 54);
    color: #fff;
    border: 0;
    padding: 10px;
    font-size: inherit;
    cursor: pointer;
}

.header-sub {
    font-weight: lighter;
    font-family: "HelveticaNeue-UltraLight", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.component {
    padding: $left-distance;
    box-shadow: 0px 2px 5px rgba(0,0,0,.2);
    margin-bottom: 20px;
}

.header {
    padding-top: 20px;
}

.authentication {
    width: 450px;
    margin: 100px auto;
}

.panels {
    display: flex;
    flex-direction: row;
}
.panel {
    height: 200px;
    padding-right: 10px;
    padding-left: $left-distance;
    &.left {
        width: 20%
    }
    &.main {
        width: 50%
    }
    &.side {
    }
}

.list {
    .item {
        font-weight: lighter;
        padding-top: 5px;
        padding-bottom: 5px;
        border-bottom: 1px solid rgba(0,0,0,.1);
    }
}

// State
.authentication {display: none}
.no-auth {
    .authentication {display: block}
    .panels {display: none}
}
