<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Calcium - Video Conference Rooms reservation app</title>
    <link href="css/main.css" rel="stylesheet"/>
</head>
<body>

<div class="layout">
    <div class="header">
        <h1>Calcium <span class="header-sub">Video Conference Rooms reservations</span></h1>
    </div>
    <div class="panels">
        <div class="panel left">
            <h2>Video <span class="header-sub">Rooms</span></h2>
        </div>
        <div class="panel main">
            <h2>Week <span class="header-sub">overview</span></h2>
        </div>
        <div class="panel side">
            <h2>Day <span class="header-sub">overview</span></h2>
        </div>
    </div>
</div>

<script type="text/javascript"
        src="https://cdn.vgc.no/js/libs/require/require-2.1.4.min.js"
        data-main="js/main"></script>
</body>
</html>
